
<div class="text-right back" style="display: form-inline;">
    <button type="button" class="btn btn-primary btn-lg top-color" (click)="back()">Back</button>
    
   
</div>
                <table class="table table-striped" style="background-color: #eee; border-radius: 25px;">
                  <thead>
                    <tr>
                      <th>Patient Id</th>
                      <th>Allergy</th>
                      <th>Family History</th>
                      <th>Medication</th>
                      <th>Health Condition</th>
                      <th>Date Visited</th>
                      <th>Patient Info</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let history of listHistory" #history>
                      <td><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                          </label>
                        </div>
                      </td>
                      <td>{{history.patientInfo}}</td>
                      <td>{{history.allergy}}</td>
                      <td>{{history.familyHistory}}</td>
                      <td>{{history.medication}}</td>
                      <td>{{history.health_condition}}</td>
                      <td>{{history.dateVisited}}</td>
                      <td>{{history.patientInfo}}</td>
                    </tr>
                  </tbody>            
                 </table>

           
      
  








